.card{
    margin: 20px;
    border: 10px solid;
}

.card .learnmore{
    background-color: #36eb8bbb;
    color: white;
}

.card .learnmore:hover{
    background-color: #36EB8B;
    color: #52554a;
}

.card:hover .card-title{
    color: #B557EB;
}

li{
    list-style: none;
}

.info .learnmore{
    float: right;
}

.oui p{
    color: white;
}

.card .non {
    background-color: white;
}