.card{
    margin: 20px;
    border: 10px solid;
}

.card .leanmore{
    background-color: #36eb8bbb;
    color: white;
}

.card .leanmore:hover{
    background-color: #36EB8B;
    color: #52554a;
}

.card:hover .card-title{
    color: #B557EB;
}

li{
    list-style: none;
}

.info .leanmore{
    float: right;
}